
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">shop</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- page main wrapper start -->
        <div class="shop-main-wrapper section-padding">
            <div class="container">
                <div class="row">
                    <!-- sidebar area start -->
                    <div class="col-lg-3 order-2 order-lg-1">
                        <aside class="sidebar-wrapper">
                            <!-- single sidebar start -->
                            <div class="sidebar-single">
                                <h5 class="sidebar-title">categories</h5>
                                <div class="sidebar-body">
                                    
                                    <ul class="shop-categories">
                                        <li *ngFor="let data of categories"
                                        [class.active]="data == selectedCategory"
                                        >
                                            
                                            <a  (click)="updateSelectedCategory(data)" >{{data.category}} </a></li>
                                        
        
                                    </ul>
                                </div>
                            </div>
                     



                            <!-- single sidebar start -->
                            <div class="sidebar-banner">
                                <div class="img-container">
                                    <a href="#">
                                        <img  src="../../../assets/img/banner.jpg" >
                                    </a>
                                </div>
                            </div>
                            <!-- single sidebar end -->
                        </aside>
                    </div>
                    <!-- sidebar area end -->

                    <!-- shop main wrapper start -->
                    <div class="col-lg-9 order-1 order-lg-2">
                        <div class="shop-product-wrapper">
                            <!-- shop product top wrap start -->
                            <div class="shop-top-bar">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-md-6 order-2 order-md-1">
                                        <div class="top-bar-left">
                                            <div class="product-view-mode">
                                                <a class="active" href="#" data-target="grid-view" data-bs-toggle="tooltip" title="Grid View"><i class="fa fa-th"></i></a>
                                                <a href="#" data-target="list-view" data-bs-toggle="tooltip" title="List View"><i class="fa fa-list"></i></a>
                                            </div>
                                            <div class="product-amount">
                                                <p>Showing {{countProduct}} results</p>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <!-- shop product top wrap start -->
                          
                              
                            <!-- product item list wrapper start -->
                            <div class="shop-product-wrap grid-view row mbn-30">
                                <!-- product single item start -->

                                <div class="col-md-4 col-sm-6"  *ngFor="let product of products | paginate: { itemsPerPage: pageSize, currentPage: p } ">
                                    <!-- product grid start -->
                                    <div class="product-item" >
                                        <figure class="product-thumb">                    
                                            <a routerLink="../product-detail/{{product.id}}">
                                              
                                                <img  class="pri-img"  src="{{product.imageUrl1}}" >
                                                <img  class="sec-img" src="{{product.imageUrl1}}" >
                                               
                                            </a>
                                           
                                        
                                            
                                            <div class="cart-hover">
                                                <button class="btn btn-cart" routerLink="../product-detail/{{product.id}}" >view</button>
                                            </div>
                                        </figure>
                                        <div class="product-caption text-center">
                                             <h6 class="product-name">
                                                <a routerLink="../product-detail">{{product?.category}} ( sku : {{product?.sku}} )</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="price-regular " style="color: #81ca33;">₹:{{product?.price}}</span>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product grid end -->

                                    <!-- product list item end -->
                                    <div class="product-list-item">
                                        <figure class="product-thumb">
                                            <a routerLink="../product-detail/{{product.id}}">
                                                <img  class="pri-img"  src="{{product.imageUrl1}}" >
                                                <img  class="sec-img" src="{{product.imageUrl1}}" >
                                            </a>
                                            <div class="product-badge">
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                               
                                            </div>
                                        
                                            <div class="cart-hover">
                                                <button class="btn btn-cart" routerLink="../product-detail/{{product.id}}" >view</button>
                                            </div>
                                        </figure>
                                        <div class="product-content-list">
                                            <div class="manufacturer-name">
                                                <a routerLink="../product-detail">{{product.category}}</a>
                                            </div>
                                         

                                            <h5 class="product-name"><a routerLink="../product-detail">{{product.category}}</a></h5>
                                            <div class="price-box">
                                                <span class="price-regular"> ₹{{product.price}}</span>
                                           
                                            </div>
                                            <p>{{product.category}}</p>
                                        </div>
                                    </div>
                                    <!-- product list item end -->
                                </div>

                                </div> <br> <br>
                            <!-- product item list wrapper end -->

                            <!-- start pagination area -->
                            <div class=" text-center">
                                <pagination-controls
                                (pageChange)="onPageChange($event)"
                                previousLabel="Previous"
                                nextLabel="Next"
                                class="my-pagination"
                              ></pagination-controls>
                            </div>
                            <!-- end pagination area -->
                        </div>
                   
                    </div>
                    <!-- shop main wrapper end -->
                </div>
            </div>
         
        </div>
        <!-- page main wrapper end -->
     
 
    

    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
 



  
    <!-- Quick view modal end -->
    <app-quick-model></app-quick-model>
    <!-- offcanvas mini cart start -->
   <app-mini-cart></app-mini-cart>
    <!-- offcanvas mini cart end -->

    <!-- JS
============================================ -->

