 <!-- footer area start -->
 <footer class="footer-widget-area">
    <div class="footer-top section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="widget-title">
                            <div class="widget-logo">
                                <a href="index.html">
                                    <img  src="../../../assets/img/logo/log.png" alt="brand logo">
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <p>Exclusive Collection of Premium Shirts and kurtas. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <h6 class="widget-title">Contact Us</h6>
                        <div class="widget-body">
                            <address class="contact-block">
                                <ul>
                                    <li><i class="pe-7s-home"></i> Fancy Zone
                                        Seven Star Market, 18/H/4, Karl Marx Sarani Rd, Babu Bazar, Khidirpur, Kolkata, West Bengal</li>
                                    <li><i class="pe-7s-home"></i>   PINCODE-700023</li>
                                    <li><i class="pe-7s-mail"></i> <a href="mailto: info@fashionzoneindia.com"> info@fashionzoneindia.com</a></li>
                                    <li><i class="pe-7s-call"></i> <a href="tel:(+91)9051398740">(+91)  908 866 4755</a></li>
                                    <li><i class="pe-7s-call"></i> <a href="tel:(+91)9874406700">(+91)  912 330 8828</a></li>
                                  
                                </ul>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8">
                    <div class="widget-item">
                        <h6 class="widget-title">Information</h6>
                        <div class="widget-body">
                            <ul class="info-list">
                                <li><a routerLink="about">about us</a></li>
                                <li><a routerLink="information/shipping">Shipping</a></li>
                                <li><a routerLink="information/cancellation">Cancellation & Refund </a></li>
                                <li><a routerLink="information/policy">privacy policy</a></li>
                                <li><a routerLink="information/terms">Terms & Conditions</a></li>
                                <li><a routerLink="contact">contact us</a></li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <h6 class="widget-title">Follow Us</h6>
                        <div class="widget-body social-link">
                            <a href="https://www.facebook.com/fancyzonekolkata"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/fancyzonekolkata/"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-text text-center">
                        <p>&copy; 2023 <b>fancyzone</b> Made by<i class="fa fa-heart text-danger"></i> by <a href="http://www.soltechsolution.in/"><b style="color: brown;">Soltech Solution</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->