<!-- Start Header Area -->
<header class="header-area header-wide py-1">
  <!-- main header start -->
  <div class="main-header d-none d-lg-block">
    <!-- header top start -->

    <!-- header top end -->

    <!-- header middle area start -->
    <div class="header-main-area sticky py-1">
      <div class="container">
        <div class="row align-items-center position-relative" style="background-color: #e0dad4">
          <!-- start logo area -->
          <div class="col-lg-2">
            <div class="logo" style="height: 80px;">
              <a routerLink="./home">
                <img src="assets/img/logo/log.png" />
              </a>
            </div>
          </div>
          <!-- start logo area -->

          <!-- main menu area start -->
          <div class="col-lg-6 position-static">
            <div class="main-menu-area">
              <div class="main-menu">
                <!-- main menu navbar start -->
                <nav class="desktop-menu">
                  <ul class="mobile-menu">
                    <li class="menu-item-has-children" routerLink="../home">
                      <a>Home</a>
                    </li>

                    <li class="menu-item-has-children" routerLink="../products">
                      <a> shop</a>
                    </li>

                    <li class="menu-item-has-children" routerLink="../about">
                      <a>About us</a>
                    </li>
                    <li routerLink="../contact"><a>Contact us</a></li>
                  </ul>
                </nav>
                <!-- main menu navbar end -->
              </div>
            </div>
          </div>
          <!-- main menu area end -->

          <!-- mini cart area start -->
          <div class="col-lg-4">
            <div class="header-right d-flex align-items-center justify-content-xl-between justify-content-lg-end">
              <div class="header-search-container">
                <form class="header-search-box d-lg-none d-xl-block">
                  <input type="text" #keyword (keyup.Enter)="onSearchChange(keyword.value)"
                    placeholder="Search entire store" class="header-search-field" />
                </form>
              </div>
              <div class="header-configure-area" style="background-color: #e0dad4">
                <ul class="nav justify-content-end">
                  <li class="user-hover">
                    <a href="#">
                      <i class="pe-7s-user"></i>
                    </a>
                    <ul *ngIf="!isSignIn; else logout" style="background-color: #e0dad4" class="dropdown-list">
                      <li><a routerLink="../login">Login</a></li>
                      <li><a routerLink="../register">Register</a></li>
                    </ul>
                    <ng-template #logout>
                      <ul class="dropdown-list">
                        <li (click)="signOut()"><a routerLink="../logout">Logout</a></li>

                        <li><a routerLink="../account">My Account</a></li>
                      </ul>
                    </ng-template>
                  </li>

                  <li>

                    <a class="minicart-btn">
                      <i class="pe-7s-shopbag"></i>

                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <!-- mini cart area end -->
        </div>
      </div>
    </div>
    <!-- header middle area end -->
  </div>
  <!-- main header start -->

  <!-- mobile header start -->
  <!-- mobile header start -->
  <div class="mobile-header d-lg-none d-md-block sticky" style="background-color: #e0dad4">
    <!--mobile header top start -->
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="mobile-main-header">
            <div class="mobile-logo">
              <a routerLink="../home">
                <img src="../../../assets/img/logo/log.png" alt="Brand Logo" />
              </a>
            </div>
            <div class="mobile-menu-toggler">
              <div class="mini-cart-wrap">
                <a routerLink="cart">
                  <i class="pe-7s-shopbag"></i>
                  <div class="notification">{{cartCount}}</div>
                </a>
              </div>
              <button class="mobile-menu-btn" style="background-color: rgb(233, 227, 219)">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile header top start -->
  </div>
  <!-- mobile header end -->
  <!-- mobile header end -->

  <!-- offcanvas mobile menu start -->
  <!-- off-canvas menu start -->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
      <div class="btn-close-off-canvas">
        <i class="pe-7s-close"></i>
      </div>

      <div class="off-canvas-inner">
        <!-- search box start -->
        <div class="search-box-offcanvas">
          <form>
            <input type="text" #keyword1 (keyup.Enter)="onSearchChange(keyword1.value)"
              placeholder="Search entire store" class="header-search-field" />
            <button class="search-btn"><i class="pe-7s-search"></i></button>
          </form>
        </div>
        <!-- search box end -->

        <!-- mobile menu start -->
        <div class="mobile-navigation">
          <!-- mobile menu navigation start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <a routerLink="../home">Home</a>
              </li>

              <li class="menu-item-has-children">
                <a routerLink="../products">shop</a>
              </li>

              <li class="menu-item-has-children">
                <a routerLink="../about">About us</a>
              </li>
              <li><a routerLink="../contact">Contact us</a></li>
            </ul>
          </nav>
          <!-- mobile menu navigation end -->
        </div>
        <!-- mobile menu end -->

        <div class="mobile-settings">
          <ul class="nav">
            <li>
              <div class="dropdown mobile-top-dropdown">
                <a href="#" class="dropdown-toggle" id="myaccount" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  My Account
                  <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="myaccount">

                  <ul *ngIf="!isSignIn; else logout" style="background-color: #e0dad4" class="dropdown-list">
                    <li><a routerLink="../login">Login</a></li>
                    <li><a routerLink="../register">Register</a></li>
                  </ul>
                  <ng-template #logout>
                    <ul class="dropdown-list">
                      <li (click)="signOut()"><a routerLink="../logout">Logout</a></li>

                      <li><a routerLink="../account">My Account</a></li>
                    </ul>
                  </ng-template>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- offcanvas widget area start -->
        <div class="offcanvas-widget-area">
          <div class="off-canvas-contact-widget">
            <ul>
              <li>
                <i class="fa fa-mobile"></i>
                <a routerLink="../contact">(+91) 908 866 4755</a>
              </li>
              <li>
                <i class="fa fa-mobile"></i>
                <a routerLink="../contact">(+91) 912 330 8828</a>
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>
                <a routerLink="../contact">info@fancyzoneindia.com</a>
              </li>
            </ul>
          </div>
          <div class="off-canvas-social-widget">
            <a routerLink="blog"><i class="fa fa-facebook"></i></a>
            <a routerLink="blog"><i class="fa fa-twitter"></i></a>
            <a routerLink="blog"><i class="fa fa-pinterest-p"></i></a>
            <a routerLink="blog"><i class="fa fa-linkedin"></i></a>
            <a routerLink="blog"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
        <!-- offcanvas widget area end -->
      </div>
    </div>
  </aside>
  <!-- off-canvas menu end -->
  <!-- offcanvas mobile menu end -->
</header>
<!-- end Header Area -->