<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider">
                                <div class="pro-large-img ">
                                    <img src="{{data?.imageUrl[0]}}"  />
                                </div>
                                <div class="pro-large-img ">
                                    <img src="{{data?.imageUrl[1]}}"  />
                                </div>
                                <div class="pro-large-img ">
                                    <img src="{{data?.imageUrl[2]}}"  />
                                </div>
                                <div class="pro-large-img ">
                                    <img src="{{data?.imageUrl[3]}}"  />
                                </div>
                               
                            </div>
                            <div class="pro-nav slick-row-10 slick-arrow-style">
                                <div class="pro-nav-thumb">
                                    <img src="{{data?.imageUrl[0]}}"  />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="{{data?.imageUrl[1]}}"  />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="{{data?.imageUrl[2]}}"  />
                                </div>
                                <div class="pro-nav-thumb">
                                    <img src="{{data?.imageUrl[3]}}"  />
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des">
                                <div class="manufacturer-name">
                                    <a href="product-details.html">{{data?.description}}</a>
                                </div>
                                <h3 class="product-name">{{data?.sub_category}}</h3>
                               
                                <div class="price-box">
                                    <span class="price-regular" style="color:#81ca33;">₹ {{selectedVarient?.price}}</span>
                                    </div>
                              
                                <p class="pro-desc">{{data?.description}}</p>
                                <div class="quantity-cart-box d-flex align-items-center">
                                    <h6 class="option-title">qty:{{data?.quantity}}</h6>
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input #quantityInput type="number" value="1" />
                                        </div>
                                    </div>
                                    <div class="action_link">
                                        <a class="btn btn-cart2" (click)=" addToCart()">Add to cart</a>
                                    </div>
                                </div>
                                <div class="pro-size">
                                    <h6 class="option-title">color :</h6>
                                    <div
                                      class="size-box"
                                      *ngFor="let data of color; index as i" [ngClass]="{ 'active': selectedColorIndex === i }"
                                      >
                                      <a (click)="updatedColor(i)">{{ data }}</a>
                                    </div>
                                  </div>
                                <div class="pro-size">
                                    <h6 class="option-title">size :</h6>
                                 
                                    <div class="size-box" *ngFor="let size of varient ; index as i" [ngClass]="{ 'active': selectedSizeIndex === i }">
                                        <a (click)="updateVarient(i)" >{{size.size}}</a>
                                        </div>
                                </div>
                              
                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- product details inner end -->
            </div>
        </div>
    </div>
</div>